{% extends "masterpage.html"%}

{% block content %}

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All Categories</span>
                        </div>
                        <ul>
                            {% for cate in cate %}
                            <li><a href="/restaurantsCategory/{{ cate.Cate_id }}">{{ cate.Cate_Name }}</a></li>
                            {% endfor %}
<!--                            <li><a href="#">Vegetables</a></li>-->
<!--                            <li><a href="#">Fruit & Nut Gifts</a></li>-->
<!--                            <li><a href="#">Fresh Berries</a></li>-->
<!--                            <li><a href="#">Ocean Foods</a></li>-->
<!--                            <li><a href="#">Butter & Eggs</a></li>-->
<!--                            <li><a href="#">Fastfood</a></li>-->
<!--                            <li><a href="#">Fresh Onion</a></li>-->
<!--                            <li><a href="#">Papayaya & Crisps</a></li>-->
<!--                            <li><a href="#">Oatmeal</a></li>-->
<!--                            <li><a href="#">Fresh Bananas</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="search_restaurant">
<!--                                <div class="hero__search__categories">-->
<!--                                    All Categories-->
<!--                                    <span class="arrow_carrot-down"></span>-->
<!--                                </div>-->
                                <input type="text" placeholder="What do you need?" name="search_query">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <a href="tel:+65 11.188.888" class="btn primary-btn2 hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
<!--                                <span>support 24/7 time</span>-->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/static/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>All Restaurants</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>All Restaurants</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                {% for res in res %}
                    <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="/restaurant-details/{{ res.Res_id }}">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="/Media/{{ res.Res_img }}" alt="" style="height:300px">
                        </div>
                        <div class="blog__item__text">
                            <h5>{{ res.Res_Name }}</h5>
                            <p>{{ res.Res_Address }}</p>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Blog Section End -->


{% endblock %}