{% extends "masterpage.html"%}

{% block content %}

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All Categories</span>
                        </div>
                        <ul>
                            {% for cate in cate %}
                            <li><a href="/dishesCategory/{{ cate.Cate_id }}">{{ cate.Cate_Name }}</a></li>
                            {% endfor %}
<!--                            <li><a href="#">Vegetables</a></li>-->
<!--                            <li><a href="#">Fruit & Nut Gifts</a></li>-->
<!--                            <li><a href="#">Fresh Berries</a></li>-->
<!--                            <li><a href="#">Ocean Foods</a></li>-->
<!--                            <li><a href="#">Butter & Eggs</a></li>-->
<!--                            <li><a href="#">Fastfood</a></li>-->
<!--                            <li><a href="#">Fresh Onion</a></li>-->
<!--                            <li><a href="#">Papayaya & Crisps</a></li>-->
<!--                            <li><a href="#">Oatmeal</a></li>-->
<!--                            <li><a href="#">Fresh Bananas</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="search_restaurant" method="get">
<!--                                <div class="hero__search__categories">-->
<!--                                    All Categories-->
<!--                                    <span class="arrow_carrot-down"></span>-->
<!--                                </div>-->
                                <input type="text" placeholder="What do you need?" name="search_query">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/static/img/breadcrumb2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Search Results</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Search</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row featured__filter">
              {% if dishlist%}
                {% for dish in dishlist %}
                <div class="col-lg-3 col-md-4 col-sm-6 mix  {{ dish.cate_id }}">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/Media/{{ dish.Dish_img }}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-info"></i></a></li>
                                {% if user.is_authenticated %}
                                <li><a href="/add/{{dish.Dish_id}}/"><i class="fa fa-shopping-cart"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6>{{ dish.Res_id}}</h6>
                            <h6><a href="/shop-details/{{dish.Dish_id}}">{{ dish.Dish_Name }}</a></h6>
                            <h5> Rs. {{ dish.Dish_Price }}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
              {% else %}
              <div class="alert alert-danger fade show" role="alert" id="alert" style="background-color:#7fad39;color:white;font-size:18px;font-weight:800;">
                    No Results Found!
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div><br>
              {% endif %}
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

{% endblock %}