{% extends "masterpage.html"%}

{% block content %}


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="static/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Organi Shop</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>All Categories</h4>
                            <ul>
                            {% for cate in cate %}
                            <li><a href="dishesCategory/{{ cate.Cate_id }}">{{ cate.Cate_Name }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Sale Off</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                {% for dish in dishlist_discount %}
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="Media/{{ dish.Dish_img }}">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="shop-details/{{dish.Dish_id}}"><i class="fa fa-info"></i></a></li>
                                                {% if user.is_authenticated %}
                                                <li><a href="add/{{dish.Dish_id}}/"><i class="fa fa-shopping-cart"></i></a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>{{ dish.cate_id}}</span>
                                            <h5><a href="shop-details/{{dish.Dish_id}}">{{ dish.Dish_Name }}</a></h5>
                                            <div class="product__item__price">Rs. {{ dish.Dish_Price }} <span>Rs. {{ dish.Dish_Price }}</span></div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>6</span> Products</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for dish in dishlist %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="Media/{{ dish.Dish_img }}">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="shop-details/{{dish.Dish_id}}"><i class="fa fa-info"></i></a></li>
                                        {% if user.is_authenticated %}
                                        <li><a href="add/{{dish.Dish_id}}/"><i class="fa fa-shopping-cart"></i></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>{{ dish.Res_id}}</h6>
                                    <h6><a href="shop-details/{{dish.Dish_id}}">{{ dish.Dish_Name }}</a></h6>
                                    <h5>Rs. {{ dish.Dish_Price }}</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-lg-12 text-center">
                            <a href="dishes" class="site-btn">SHOW MORE</a>
                        </div>
                    </div>
<!--                    <div class="product__pagination">-->
<!--                        <a href="#">1</a>-->
<!--                        <a href="#">2</a>-->
<!--                        <a href="#">3</a>-->
<!--                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
{% endblock %}